includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    ignoreErrors:
       - '#does not specify its types: TFactory#'
       - message: '#^Parameter \#1 \$data of method App\\UseCases\\Finance\\Dashboard\\GenerateAreaChartData::formatDataForChart\(\) expects array<string, array<int>>, array<int\|string, array<int>> given\.$#'
         path: %currentWorkingDirectory%/app/UseCases/Finance/Dashboard/GenerateAreaChartData.php
    excludePaths:
        analyse:
            - %currentWorkingDirectory%/tests
            - %currentWorkingDirectory%/app/Http/Controllers/Auth/*
            - %currentWorkingDirectory%/app/Http/Controllers/ProfileController.php

    noUnnecessaryCollectionCall: false
    paths:
        - app

    # The level 9 is the highest level
    level: 9

    treatPhpDocTypesAsCertain: false
